version: '2'
services:
  container-crontab:
    image: rancher/container-crontab:v0.5.0
    privileged: true
    environment:
      DOCKER_API_VERSION: 1.24
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      io.rancher.scheduler.global: true
      io.rancher.container.hostname_override: container_name
    command: container-crontab {{- if eq .Values.debug "true" }} -d {{- end }} --rancher-mode{{- if eq .Values.metrics "true" }} --metrics{{- end }}
